<launch>
  <!-- Make sure we are not using simulated time -->
  <param name="/use_sim_time" value="false" />

  <!-- Set an argument to point to the URDF/Xacro model of our robot -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find rbx2_description)/urdf/box_robot/box_robot_base_only.xacro'" />

  <!-- Load the URDF model onto the ROS parameter server -->
  <param name="robot_description" command="$(arg urdf_file)" />
   
  <!-- Bring up the arbotix driver with a configuration file appropriate to the robot -->
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" clear_params="true" output="screen">
      <rosparam file="$(find rbx2_bringup)/config/box_robot_base_only.yaml" command="load" />
      <param name="sim" value="true"/>
  </node>

  <!-- Fire up the robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="20.0" />
  </node>
  
</launch>