<?xml version="1.0"?>

<robot name="pi_robot" xmlns:xacro="http://ros.org/wiki/xacro">

   <!-- Define a number of dimensions using properties -->
   <property name="torso_offset_x" value="-0.13" />
   <property name="torso_offset_y" value="0.0" />
   <property name="torso_offset_z" value="0.088" />
     
   <property name="camera_offset_x" value="0.012" />
   <property name="camera_offset_y" value="0.0035" />
   <property name="camera_offset_z" value="0.919" />

   <!-- The following include files set up definitions of parts of the robot body -->
   <xacro:include filename="$(find rbx2_description)/urdf/materials.urdf.xacro" />
   <xacro:include filename="$(find rbx2_description)/urdf/pi_robot/pi_base.urdf.xacro" />
   <xacro:include filename="$(find rbx2_description)/urdf/pi_robot/pi_torso.urdf.xacro" />
   <xacro:include filename="$(find rbx2_description)/urdf/pi_robot/kinect.urdf.xacro" />

   <!-- Now we can start using the macros included above to define the actual robot -->
   
   <!-- Start with the base and wheels -->
   <base name="base" color="Black"/>
   
   <!-- Attach the torso -->
   <torso name="torso" parent="base" color="Grey">
      <origin xyz="${torso_offset_x} ${torso_offset_y} ${torso_offset_z}" rpy="0 0 0" />
   </torso>

   <!-- Attach the camera -->
   <camera name="camera" parent="torso" color="Black">
      <origin xyz="${camera_offset_x} ${camera_offset_y} ${camera_offset_z}" rpy="0 0 0" />
   </camera>

</robot>


