<!-- Launches Kobuki Gazebo simulation in an empty world -->
<launch>
  <!-- start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="headless" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find kobuki_gazebo)/worlds/playground.world"/>
  </include>
  
  <!-- spawn the robot -->
  <include file="$(find kobuki_gazebo)/launch/includes/robot.launch.xml"/>
</launch>